<div class="bg-white p-4 rounded-lg shadow">
    <img src="<%- product.image.path %>" alt="<%- product.image.alt %>" class="w-full h-80 object-cover rounded-lg" />
    <div>
        <%- include("../../partials/molecules/cardTextBlock.ejs", { product }) %>
    </div>
</div>