<main
  x-data="{
  top10Products: <%= JSON.stringify(top10Products) %>,
  top10Category: <%= JSON.stringify(top10Category) %>
}"
  class="flex-1 pl-4 pb-8"
>
  <div>
    <h1 class="text-[28px] font-medium">Welcome Back, Admin</h1>
    <p class="text-[#7C8DB5]">Here is the information about all you need</p>
  </div>

  <div
    x-data="{ stats: <%= JSON.stringify(stats) %> }"
    class="grid pt-8 grid-cols-4 gap-x-4"
  >
    <template x-for="(item, index) in stats">
      <div
        :class="index % 2 == 1
              ? 'bg-linear-to-b from-[#0A0A0A] via-[#1E1E1E] to-[#383838]'
              : 'bg-linear-to-b from-[#1082FF] via-[#2C91FF] to-[#60ACFF]'"
        class="px-6 py-6 rounded-3xl"
      >
        <div class="">
          <p x-text="item.title" class="text-gray-100"></p>
        </div>
        <h2
          x-text="item.value"
          class="text-[32px] text-white font-semibold"
        ></h2>
      </div>
    </template>
  </div>

  <div>
    <!-- Revenue Chart -->
    <div
      class="mt-8 w-full border border-gray-300 bg-white rounded-lg shadow-sm p-4 md:p-6"
    >
      <div class="flex justify-between">
        <div>
          <h1 class="inline leading-none text-3xl font-bold text-gray-900 pb-2">
            Revenue
            <span id="revenue" class=""></span>
          </h1>
        </div>
      </div>

      <div id="revenue-chart" class="w-full"></div>

      <div
        class="grid grid-cols-1 items-center border-gray-200 border-t justify-between"
      >
        <div class="flex justify-between items-center pt-5">
          <button
            id="revenueDropdownButton"
            data-dropdown-toggle="revenueDaysDropdown"
            data-dropdown-placement="bottom"
            class="text-sm font-medium text-gray-500 hover:text-gray-900 text-center inline-flex items-center"
            type="button"
          >
            <span id="revenueDropdownText">Last 7 days</span>

            <svg
              class="w-2.5 m-2.5 ms-1.5"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>

          <div
            id="revenueDaysDropdown"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44"
          >
            <ul
              class="py-2 text-sm text-gray-700"
              aria-labelledby="revenueDropdownButton"
            >
              <li>
                <a
                  href="#"
                  data-range="7"
                  class="block px-4 py-2 hover:bg-gray-100"
                  >Last 7 days</a
                >
              </li>
              <li>
                <a
                  href="#"
                  data-range="30"
                  class="block px-4 py-2 hover:bg-gray-100"
                  >Last 30 days</a
                >
              </li>
              <li>
                <a
                  href="#"
                  data-range="90"
                  class="block px-4 py-2 hover:bg-gray-100"
                  >Last 90 days</a
                >
              </li>
              <li>
                <a
                  href="#"
                  data-range="365"
                  class="block px-4 py-2 hover:bg-gray-100"
                  >Yearly</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- user chart -->
    <div
      class="max-w-sm mt-8 w-full border border-gray-300 bg-white rounded-lg shadow-sm p-4 md:p-6"
    >
      <div class="flex justify-between">
        <div>
          <h5
            id="users"
            class="leading-none text-3xl font-bold text-gray-900 pb-2"
          ></h5>
          <p class="text-base font-normal text-gray-500">Users this week</p>
        </div>
      </div>

      <div id="area-chart"></div>

      <div
        class="grid grid-cols-1 items-center border-gray-200 border-t justify-between"
      >
        <div class="flex justify-between items-center pt-5">
          <!-- <button
            id="dropdownDefaultButton"
            data-dropdown-toggle="lastDaysdropdown"
            data-dropdown-placement="bottom"
            class="text-sm font-medium text-gray-500 hover:text-gray-900 text-center inline-flex items-center"
            type="button"
          >
            Last 7 days
            <svg
              class="w-2.5 m-2.5 ms-1.5"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"
              />
            </svg>
          </button>

          <div
            id="lastDaysdropdown"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44"
          >
            <ul
              class="py-2 text-sm text-gray-700"
              aria-labelledby="dropdownDefaultButton"
            >
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100"
                  >Yesterday</a
                >
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Today</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100"
                  >Last 7 days</a
                >
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100"
                  >Last 30 days</a
                >
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100"
                  >Last 90 days</a
                >
              </li>
            </ul>
          </div>

          <a
            href="#"
            class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 hover:bg-gray-100 px-3 py-2"
          >
            Users Report
            <svg
              class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
          </a> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Products Table -->
  <div
    class="bg-white mt-10 border border-blue-300 shadow-card overflow-hidden rounded-lg"
  >
    <div class="px-4 py-5 sm:px-6 flex justify-between items-center">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Best-Selling Products
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Showing the top 10 products by revenue.
        </p>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Product
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Category
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Price
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Units Sold
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Revenue
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <!-- Product looping -->
          <template x-for="product in top10Products" :key="product._id">
            <tr class="hover:bg-gray-50 transition duration-150">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <div
                      x-text="product.productName"
                      class="text-sm font-medium text-gray-900"
                    ></div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <!-- category name -->
                <div
                  x-text="product.category.name"
                  class="text-sm text-gray-900"
                ></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <!-- producte price -->
                <div
                  x-text="`₹${product.price.sellingPrice}`"
                  class="text-sm text-gray-900"
                ></div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <!-- sales count -->
                <div
                  x-text="product.salesCount"
                  class="text-sm text-gray-900"
                ></div>
              </td>
              <!-- revenue -->
              <td class="px-6 py-4 whitespace-nowrap">
                <div
                  x-text="`₹${product.price.sellingPrice * product.salesCount}`"
                  class="text-sm font-medium text-gray-900"
                >
                  $1,095,312
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Category Table -->
  <div
    class="bg-white mt-10 border border-blue-300 shadow-card overflow-hidden rounded-lg"
  >
    <div class="px-4 py-5 sm:px-6 flex justify-between items-center">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Best-Selling Category
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Showing the top 10 Category.
        </p>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Category
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Units Sold
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <!-- category looping  -->
          <template x-for="category in top10Category" :key="category._id">
            <tr class="hover:bg-gray-50 transition duration-150">
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <div
                      x-text="category.name"
                      class="text-sm font-medium text-gray-900"
                    ></div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <!-- sales count -->
                <div
                  x-text="category.salesCount"
                  class="text-sm text-gray-900"
                ></div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</main>
<script type="module" src="/javascript/ajax/pages/adminDashboard.js"></script>
